@import "tailwindcss";
@import "@nuxt/ui";

/* Hauteur de la navbar fixe */
:root {
  --navbar-height: 64px;
}

main {
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

.leaflet-control-container {
  display: none;
}